<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the container below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="px-5">CAMPAMENTO RENEW 2022</span>
  <div class="spacer"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label fw-bold"
          >BUSCAR POR CÉDULA O NOMBRE</label
        >
        <input
          type="text"
          class="form-control text-center"
          id="exampleFormControlInput1"
          placeholder="Digite cédula o nombre"
          minlength="7"
          [(ngModel)]="filterPost"
        />
      </div>
      <div class="mt-5">
        <label for="" class="fw-bold">RESULTADOS</label>
        <hr />
        <p *ngIf="filterPost.length < 5" class="text-center fw-bold">
          No hay coincidencias para mostrar!
        </p>

        <div *ngFor="let item of dataInfo | filter: filterPost">
          <p class="pt-4"><b>IDENTIFICACIÓN: </b>{{ item.cedula }}</p>
          <p class="pt-4"><b>NOMBRE: </b>{{ item.nombre }}</p>
          <p class="pt-4"><b>IGLESIA: </b>{{ item.iglesia ? item.iglesia : '-- Sin asignar ---'}}</p>
          <p class="pt-4">
            <b>LÍDER: </b>{{ item.lider == "X" ? "SI" : "NO" }}
          </p>
          <p class="pt-4">
            <b>CUPOS CABAÑA: </b><span class="text-danger fw-bold">{{ item.cantidad }}</span>
          </p>
          <p class="pt-4 text-center">
            <b># CABAÑA: </b><br /><br /><span
              class="h2 fw-bold p-3 text-bg-success"
              style="border-radius: 50%"
              >{{ item.cabana }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
